//----------------------------------------------------------//
//---------------------// HEADER ADD PRODUCT//--------------//
//----------------------------------------------------------//

@import "../../../sass/variables.scss";

.bloc-header {
  height: 55px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  p {
    font-size: 15px;
    color: black;
    width: 240px;
  }
  ion-icon {
    color: $primeryColor;
    font-size: "20px";
  }
  .bloc-arrowLeft {
    position: absolute;
    font-size: 20px;
    margin-right: 10px;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
  }
}
