//----------------------------------------------------------//
//---------------------// DESCRIPTION OFFERT //-------------//
//----------------------------------------------------------//

@import "../../../sass/variables.scss";

.container-input-button {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0 15px 15px 15px;

  //---------------------------------------------------------//
  //------------// INPUT & BUTTON DESCRIPTION OFFER //-------//
  //---------------------------------------------------------//
  #model,
  button {
    height: 50px;
  }
  #model,
  #description,
  button {
    outline: none;
    padding-left: 10px;
    border-radius: $borderRadius;
    border: 1px solid grey;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }
  // box-shadow: $boxShadowBloc;

  #model,
  #description {
    margin: 15px 0;
  }
  #description {
    height: 100px;
    resize: vertical;
    margin: auto;
    padding: 15px;
    margin-top: 15px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin: 0 auto 10px auto;
  }
  #product {
    color: $primeryColor;
    margin-right: 10px;
    font-size: 15px;
  }
  //------------------------------------------------------------------------------------------------//
  //---------------------// Animation des inputs lors de leur sélection //--------------------------//
  //------------------------------------------------------------------------------------------------//

  .container-input-span {
    width: 100%;
    position: relative;

    .numberCaracters {
      font-size: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .numberCaracterstextaera {
      font-size: 10px;
      position: absolute;
      bottom: -10px;
      right: 0;
    }

    .modèleSpan,
    .descriptionSpan {
      position: absolute;
      top: 30px;
      left: 10px;
      font-size: 15px;
      pointer-events: none;
      transition: 0.5s;
    }

    #description:focus ~ .descriptionSpan,
    #description:not(:placeholder-shown)#description:not(:focus)
      ~ .descriptionSpan {
      color: $primeryColor;
      transform: translateX(12px) translateY(-26px);
      background: white;
      padding-left: 5px;
      padding-right: 5px;
    }

    #model:focus ~ .modèleSpan,
    #model:not(:placeholder-shown)#model:not(:focus) ~ .modèleSpan {
      color: $primeryColor;
      transform: translateX(15px) translateY(-25px);
      background: white;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

#model:hover {
  box-shadow: $boxShadowInut;
}

#description:hover {
  box-shadow: $boxShadowInut;
}

button:hover {
  box-shadow: $boxShadowInut;
}
