@import "../../sass/variables.scss";

.container-carroussel {
  width: 100%;
  box-sizing: border-box;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
  .carrousselIner {
    width: 100%;
    box-sizing: border-box;
    min-width: 320px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  }
  .container-dot {
    position: absolute;
    color: white;
    font-size: 15px;
    display: flex;
    bottom: 10px;
    left: 50%;

    transform: translateX(-50%);
    ion-icon {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .arrow-left,
  .arrow-right {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  .arrow-left {
    left: 5px;
    transform: translate(0, -50%);
  }
  .arrow-right {
    right: 5px;
    transform: translate(0, -50%);
  }
}

//-----------------------------------------------------------//
//--------------------// QUIERIES //-------------------------//
//-----------------------------------------------------------//

@media #{$medium-up-768} {
  /* Rules */
  .container-carroussel {
    .carrousselIner {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }
  }
}
