@import "../../sass/variables.scss";

.container-information {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: $minWidthBloc;
  width: 100%;
  height: auto;
  .container-model-price {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    h3,
    h4 {
      margin: 0;
      color: $primeryColor;
    }
  }
  .container-etat {
    padding: 0px 10px;
    font-size: 15px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(17, 17, 26, 0.1);
  }
}
