@import "../../sass/variables.scss";

.container-achat {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: $backGroundComponent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  box-sizing: border-box;
  padding: 10px;
  background: $backGroundComponent;
  button {
    max-width: 250px;
    width: 90%;
    height: 42px;
    border-radius: $borderRadius;
    border: none;
    box-shadow: $boxShadowBloc;
    font-size: $fontSizeText;
  }
  .achat {
    background: $primeryColor;
    color: $secondaryColor;
  }
}

//-----------------------------------------------------------//
//--------------------// QUIERIES //-------------------------//
//-----------------------------------------------------------//

@media #{$medium-up-768} {
  /* Rules */
  .container-achat {
    position: relative;
    width: 100%;
    max-width: 400px;
    border-radius: $borderRadius;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    box-shadow: $boxShadowBloc;
    button {
      cursor: pointer;
      font-size: $fontSizeText;
      height: 45px;
    }
  }
}

@media #{$medium-up-1200} {
  // /* Rules */
  //   .container-achat {
  //     border-top-left-radius: $borderRadius;
  //     border-top-right-radius: $borderRadius;
  //     width: 30%;

  //     box-shadow: $boxShadowBloc;
  //   }
}
