.container-input-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 15px;
  height: auto;
  span {
    font-size: 12px;
    margin-bottom: 10px;
  }
  button {
    height: 50px;
    padding: 15px;
    background-color: #508ae2;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 15px;
  }
}
