@import "../../../sass/variables.scss";

.container-input-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 15px;
  height: auto;
  span {
    margin-bottom: 10px;
  }
  button {
    box-shadow: $boxShadowBloc;
    height: 50px;
    padding: 15px;
    background-color: $primeryColor;
    border: none;
    color: $text-color;
    border-radius: $borderRadius;
    font-size: $fontSizeText;
  }
}
