.oval {
  width: 100%;
  position: absolute;
  z-index: 2;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  height: 100%;
}

.container-offer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-width: 320px;
  .close {
    z-index: 2;
    color: #6399eb;
    top: 10px;
    left: 15px;
    font-size: 50px;
    position: fixed;
    cursor: pointer;
  }
}
