@import "../../sass/variables.scss";

.container-home {
  background: $backGroundApp;
  margin: 0 auto;
  min-height: 600px;
  width: 100vw;
  min-width: $minWidthBloc;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
  .container-products {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  h3 {
    padding-left: 10px;
    color: black;
    margin: 10px;
  }
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media #{$medium-up-768} {
  .container-home {
    padding-bottom: 0px;
  }
}

// @media (min-width: 1200px) {
//   .container-home {
//     width: 1200px;
//     margin: 0 auto;
//   }
// }
