.container-home {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  min-width: 320px;
  padding-top: 55px;
  h3 {
    padding-left: 10px;
  }
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media (min-width: 1200px) {
  .container-home {
    width: 1200px;
    margin: auto;
  }
}
