@import "../../sass/variables.scss";

.container-home-produit {
  width: 100%;
  min-height: 280px;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 5px;
  .oval {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: $backGroundComponent;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }

  .container-produit-description {
    height: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    margin: 5px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: $backGroundComponent;
    border-radius: $borderRadius;
    cursor: pointer;
    .image-produit {
      box-sizing: border-box;
      width: 100%;
      height: 320px;
      object-fit: cover;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }
    .bloc-image-nom {
      width: 100%;
      height: 50px;
      position: absolute;
      z-index: 5;
      bottom: 90px;
      left: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $text-color;
      box-sizing: border-box;
      img {
        height: 30px;
        width: 30px;
        margin-left: 10px;
        border-radius: 50%;
      }
      span {
        margin-left: 10px;
        font-size: 15px;
        font-weight: 600;
      }
    }
    .container-titreProduit-description-prix {
      width: 100%;
      padding: 5px;
      height: 70px;
      font-size: 15px;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      box-sizing: border-box;
      span {
        display: block;
      }
    }
  }
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media (min-width: 368px) {
  .container-home-produit {
    .container-produit-description {
      height: 280px;
      min-width: 160px;
      max-width: 200px;
      flex: 33%;
      margin: 0 10px;
      border-radius: $borderRadius;
      .image-produit {
        height: 210px;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
      }

      .container-titreProduit-description-prix {
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
      }
    }
  }
}
