.container-home-produit {
  width: 100%;
  height: auto;
  min-height: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  box-sizing: border-box;
  padding: 10 5px;
  .container-produit-description {
    height: 400px;
    flex: 100%;
    margin: 0 auto;
    position: relative;
    margin: 0 15px;
    .image-produit {
      width: 100%;
      height: 320px;
      border-radius: 10px;
    }
    .bloc-image-nom {
      width: 100%;
      height: 30px;
      border-radius: 10px;
      font-size: 15px;
      position: absolute;
      z-index: 5;
      bottom: 95px;
      left: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      img {
        height: 30px;
        width: 30px;
        margin-left: 10px;
        border-radius: 50%;
      }
      span {
        margin-left: 10px;
        font-size: 12px;
      }
    }
    .container-titreProduit-description-prix {
      width: 100%;
      height: 70px;
      margin-top: 0;
      font-size: 15px;
      span {
        display: block;
        line-height: 20px;
      }
    }
  }
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media (min-width: 368px) {
  .container-home-produit {
    .container-produit-description {
      height: 280px;
      min-width: 160px;
      max-width: 200px;
      flex: 33%;
      margin: 0 10px;
      .image-produit {
        height: 210px;
      }
    }
  }
}
