.container-searchBar {
  border: 2px solid red;
  width: 100%;
  height: 65px;
  input {
    width: 85%;
    height: 40px;
    padding-left: 10px;
  }
  //   .xMark {
  // position: relative;
  // border: 1px solid red;
  //   }
}
