//----------------------------------------------------------//
//------------------------// DRAG N DROP //-----------------//
//----------------------------------------------------------//

.bloc-photo {
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  background-color: rgb(245, 241, 241);
  border-bottom: 0.5px solid;
  input {
    display: none;
  }
  #image-file {
    box-shadow: 5px 3px 3px rgb(183, 181, 181);
    height: 160px;
    width: 160px;
    min-width: 160px;
    background: white;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 10px;
    .container-ajoutimage {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
      color: #508ae2;
    }
    span {
      margin-bottom: 10px;
    }
  }
  #image-file:hover {
    cursor: pointer;
  }
  .addPhoto {
    height: 160px;
    width: 160px;
    min-width: 160px;
  }
  //----------------------------------------------------------//
  //---------------------// IMAGE AFFICHEE //-----------------//
  //----------------------------------------------------------//

  .bloc-choosen-image {
    box-sizing: border-box;
    flex-direction: row;
    height: 160px;
    width: 160px;
    min-width: 160px;
    margin: 0 10px;
    position: relative;
    box-shadow: 5px 3px 3px rgb(183, 181, 181);
    img {
      height: 100%;
      width: 100%;
      background: white;
      object-fit: cover;
    }
    .trash {
      position: absolute;
      top: -12.5px;
      right: -12.5px;
      ion-icon {
        // border: 0.5px solid grey;
        box-shadow: 3px 2px 2px rgb(183, 181, 181);
        border-radius: 50%;
        padding: 4px;
        background: white;
        font-size: 20px;
      }
    }
    .trash:hover {
      cursor: pointer;
    }
  }
}
