.container-addProduct {
  width: 100%;
  min-width: 320px;
  height: auto;
  box-sizing: border-box;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  .container-descriptionOffer {
    background: white;
    width: 100%;
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  /* Rules */
  .container-descriptionOffer {
    border: 0.5px solid grey;
    box-shadow: 8px 4px 4px rgb(183, 181, 181);
    margin-top: 10px;
  }
}
