@import "../../../sass/variables.scss";

.container-header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  height: 60px;
  background: $backGroundComponent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 1px 1px;
  img {
    border-radius: 50%;
    width: 40px;
    display: block;
    margin: 0 5px;
  }
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media #{$medium-up-880} {
  .container-header {
    display: none;
  }
}
