.container-footer {
  min-width: 320px;
  width: 100vw;
  box-sizing: border-box;
  color: white;
  height: 360px;
  background: #508ae2;
  .container-bloc {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 100%;
    min-width: 320px;
    padding: 10px;
    border-bottom: 1px solid white;

    h1 {
      margin: 0 auto;
      margin-top: 15px;
      font-size: 30px;
    }
    p {
      margin: auto;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
  // .container-bloc:after {
  //   background: white;
  //   width: 20px;
  //   border: 1px solid red;
  // }
}
