.container-categorie {
  height: 95px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;

  .categorie {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 10px;
    img {
      width: 60px;
      height: 60px;
      border: 2px solid #508ae2;
      border-radius: 50%;
      margin: auto;
    }
    p {
      margin: auto;
      font-size: 15px;
      color: black;
    }
  }
}
