//------------------------------------------------------------------------//
//-----------------------------// DROPDOWN //-----------------------------//
//------------------------------------------------------------------------//

.dropdown {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  .dropdown-btn {
    user-select: none;
    position: relative;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
    margin-bottom: 15px;
    color: #555555;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    span {
      position: absolute;
      top: 15px;
      left: 10px;
      font-size: 15px;
      pointer-events: none;
      transition: all 0.2s;
    }
    span:not(:empty) ~ .titre-dropdwon {
      color: #508ae2;
      transform: translateX(15px) translateY(-25px);
      background: white;
      padding-left: 5px;
      padding-right: 5px;
    }
    .titre-dropdwon {
      position: absolute;
      top: 15px;
      left: 10px;
      font-size: 15px;
      pointer-events: none;
      transition: 0.5s;
    }
  }

  .dropdown-content {
    position: absolute;
    top: 90%;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 8px;
    padding-bottom: 10px;
    border: 2px solid rgb(240, 237, 237);
    left: -0.5%;
    right: -0.5%;
    cursor: pointer;
    z-index: 10;
    background: white;
    max-height: 120px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .dropdown-item {
    margin-top: 5px;
    background: white;
    padding: 5px;
    transition: all 0.2s;
  }
  .dropdown-item:hover {
    margin-top: 5px;
    background: rgb(240, 237, 237);
  }
  .dropdown-btn:after {
    content: "\22C1";
    color: #508ae2;
    right: 15px;
    top: 8px;
    bottom: 10px;
    border-left: none;
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    background: white;
    font-size: 23px;
    font-weight: 600;
    transition: 0.3s;
  }
  .dropdown-btn:active:after {
    transform: rotateZ(-90deg);
  }
}
