@import "../../sass/variables.scss";

.container-signUp {
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
  background: $backGroundApp;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .bloc-header {
    height: 60px;
    width: 100%;
    z-index: 10;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    background: $backGroundComponent;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -125%);
      font-size: $fontSizeText;
      color: black;
    }
    .bloc-xmark {
      position: absolute;
      font-size: 20px;
      top: 55%;
      left: 20px;
      transform: translate(-50%, -50%);
    }
  }
  .container-inputs {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    height: 450px;
    margin: 60px 20px 20px 20px;
    padding: 10px;
    background: $backGroundComponent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .inputdiv {
      position: relative;
      width: 100%;
      max-width: 400px;
    }
    input {
      height: 50px;
      padding-left: 10px;
      border-radius: 8px;
      border: 1px solid grey;
      margin-bottom: 15px;
      color: #555555;
      width: 100%;
      outline: none;
      box-sizing: border-box;
    }
    .spanDescriptionInput {
      position: absolute;
      top: 15px;
      left: 10px;
      font-size: $fontSizeText;
      pointer-events: none;
      transition: 0.5s;
    }
    #Pseudo:focus ~ .spanDescriptionInput,
    #Pseudo:not(:placeholder-shown)#Pseudo:not(:focus) ~ .spanDescriptionInput {
      color: $primeryColor;
      transform: translateX(15px) translateY(-25px);
      background: $secondaryColor;
      padding-left: 5px;
      padding-right: 5px;
    }
    #password:focus ~ .spanDescriptionInput,
    #password:not(:placeholder-shown)#password:not(:focus)
      ~ .spanDescriptionInput {
      color: $primeryColor;
      transform: translateX(15px) translateY(-25px);
      background: $secondaryColor;
      padding-left: 5px;
      padding-right: 5px;
    }
    #email:focus ~ .spanDescriptionInput,
    #email:not(:placeholder-shown)#email:not(:focus) ~ .spanDescriptionInput {
      color: $primeryColor;
      transform: translateX(15px) translateY(-25px);
      background: $secondaryColor;
      padding-left: 5px;
      padding-right: 5px;
    }
    #repeat-password:focus ~ .spanDescriptionInput,
    #repeat-password:not(:placeholder-shown)#repeat-password:not(:focus)
      ~ .spanDescriptionInput {
      color: $primeryColor;
      transform: translateX(15px) translateY(-25px);
      background: $secondaryColor;
      padding-left: 5px;
      padding-right: 5px;
    }
    .validation {
      color: red;
      font-size: $secondaryFontSizeText;
      max-width: 400px;
      text-align: start;
      width: 100%;
      margin: 0 auto;
    }
    .infospwd {
      font-size: $secondaryFontSizeText;
      width: 100%;
    }
    #button {
      background: $primeryColor;
      color: $secondaryColor;
      border: none;
      cursor: pointer;
      max-width: 400px;
      margin-top: 5px;
    }
  }
}
//-------------------------------------------------------//
//-------------------// Media Query //-------------------//
//-------------------------------------------------------//

@media #{$medium-up-500} {
  /* Rules */
  .container-signUp {
    .container-inputs {
      border-radius: $borderRadius;
      box-shadow: $boxShadowBloc;
    }
  }
}
