@import "../../../sass/variables.scss";

.bloc-logo-par {
  box-sizing: border-box;
  // border: 1px solid red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ion-icon {
    margin: 0 auto;
    font-size: 20px;
    color: $primeryColor;
  }
  span {
    font-size: 15px;
    margin: 0 auto;
  }
}
