.app {
  width: 100%;
  height: auto;
  padding-bottom: 58px;
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media (min-width: 755px) {
  .app {
    padding-bottom: 0px;
  }
}
