.app {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(252, 252, 252);
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media (min-width: 768px) {
  .app {
    padding-bottom: none;
  }
}
