.app {
  width: 100%;
  height: auto;
}

//----------------------------------------------------------------------------//
//-----------------------------// MEDIA QUERY //------------------------------//
//----------------------------------------------------------------------------//

@media (min-width: 755px) {
  .app {
    padding-bottom: none;
  }
}
